# General Files
*.DS_Store

# Ignore Xcode compiled build folder and application.
*build
*.app

# Ignore Xcode User data
*.pbxuser
*.mode1v3
*.pbxproj
*.xcworkspacedata
*.xcscheme
*.xcuserdatad
*.xcuserstate

# createReleasePackage.sh output file
*.dmg
